

body {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 100vh;
}

/* section elements */


/* card elements */

.card-container-1 {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
  gap: 5px;
  row-gap: 5px;
  font-family: 'Kanit', sans-serif;
  text-align: center
}

.card-container-2 {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  gap: 5px;
  row-gap: 5px;
  font-family: 'Kanit', sans-serif;
  text-align: center
}


.title-header {
  border: 1px solid lightblue;
  text-align: center;
 
}

.title-header:hover {
  color: black;
  background: yellow;
}

@media (hover: hover) {
  /* when hover is supported */
  a:hover {
    color: white;
    background: black;
  }
}

.img-blk {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.details {
  font-weight: bold;
}

.availability {
  background-color: darkgrey;
  color: yellow;
  background-size: cover;
}

.a {
  display: flex;
  flex-direction: row;
}

footer {
  font-size: small;
}
